{% extends 'base.html' %}
{% block title %}Library{% endblock %}
{% block content %}
<div class="well">
    <h3>Credits</h3>
    <dl class="dl-horizontal">
        <dt><a href="http://www.python.org">Python</a></dt>
        <dd>Programming language.</dd>
        <dt><a href="http://flask.pocoo.org">Flask</a></dt>
        <dd>Python Microframework.</dd>
        <dt><a href="http://twitter.github.com/bootstrap">Bootstrap</a></dt>
        <dd>Css, javascript and other assets.</dd>
    </dl>
</div>
{% endblock %}



