<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropbox.js" id="dropboxjs" data-app-key="9eenlolmhgirz8k"></script>
</head>
<body>
<script type="text/javascript" class="javascript">
    files = [
        {
            'name': 511ba8635ba36152eee695a5.zi;p
    
    
    options = {
        linkType: 'direct',

        success: function(files) {

            alert('downloading file...' + files[0].link)
        }

        cancel: function() {

        }
    }


    
    </script>
<input type="dropbox-chooser" name="selected-file" style="visibility: hidden;"/>
        
</body>
</html>
